/* Start Nav */
.Logo{
    width: 182px;
    height: 47px; 
    left: 158px; 
    top: 7px; 
    position: relative
}
.Paywise{
    /* left: 55px; 
    top: 2px; 
    position: absolute;  */
    color: white; 
    font-size: 28px; 
    /* font-family: Poppins;  */
    font-weight: 700; 
    text-transform: uppercase; 
    word-wrap: break-word
}
.FadLogoJuce{
    width: 47px; 
    height: 47px; 
    left: 0px; 
    top: 0px; 
    position: absolute; 
    flex-direction: column; 
    justify-content: flex-start; 
    align-items: flex-start; 
    display: inline-flex
}
.Group1{
    width: 35.98px;
    height: 35.98px;
    position: relative;
    background-image: url(/Image/fad_logo-juce.png);
    background-repeat: no-repeat;
    /* left: 10px; */
    top: 6px;
    background-position: center;
}
ul{
    list-style: none;
    display: flex;
    margin: 5px 5px 5px 5px;
}
ul li a{
    text-decoration: none;
    /* color: white; */
    font-size: 16px;
}
.Services{
    text-align: center;
    width: 610px;
    position: relative;
    left: 47rem;
    top: -36px;
}
.nav-underline{
    color: white;
}
nav ul li{
    margin-right: 60px;
}
.nav-link:hover{
    border-bottom: 2px solid;
}
.navbar-collapse{
    justify-content: space-around;
    font-size: 16px;
    /* font-family: Poppins;  */
}
/* End Nav */

/* Start Section1 */
.section1{
    width: auto;
    height: auto;
    /* background: white; */
}
.card{
    margin-right: 30px;
    width: 400px;
    height: 550px;
    border-radius: 10px;
    border: 2px solid;
}
/* End Section1 */

/* Start Footer */
.Footer{
    width: 1458px;
    height: 345px;
    left: 256px;
    /* top: 1544px; */
    position: absolute;
    margin-top: 20px;
}
.Group2{
    width: 522px;
    height: 215px;
    left: 936px;
    top: 0px;
    position: absolute;
}
.Solutions,.Mastercard,.Home,.LouisVuitton,.About,.Gillette,.services,.Apple,.Contact,.GeneralElectric,.FAQS,.Blog{
    position: absolute;
    color: white;
    font-size: 18px;
    font-family: Poppins;
    font-weight: 500;
    word-wrap: break-word;
}

.Group3{
    width: 501px;
    height: 25px;
    left: 607px;
    top: 320px;
    position: absolute;
}
.Copyrighy{
    left: 0px;
    top: 4px;
    position: absolute;
    color: white;
    font-size: 14px;
    font-family: Poppins;
    font-weight: 400;
    text-transform: capitalize;
    word-wrap: break-word;
}
.Group5{
    width: 177px;
    height: 21px;
    left: 324px;
    top: 0px;
    position: absolute;
}

.Group4 .Paywise{
    width: 221.57px;
    height: 73.28px;
    left: 64px;
    top: 0px;
    position: absolute;
    color: white;
    font-size: 36px;
    font-family: Poppins;
    font-weight: 600;
    text-transform: uppercase;
    word-wrap: break-word;
}
.FadLogojuce{
    width: 55px;
    height: 55px;
    background-image: url(/Image/fad_logo-juce.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.Subscribe{
    width: 364px;
    left: 6px;
    top: 80px;
    position: absolute;
    color: white;
    font-size: 24px;
    font-family: Poppins;
    font-weight: 500;
    line-height: 31.80px;
    word-wrap: break-word;
}
.Submitting{
    width: 425px;
    left: 6px;
    top: 260px;
    position: absolute;
    color: white;
    font-size: 14px;
    font-family: Poppins;
    font-weight: 400;
    line-height: 18.55px;
    word-wrap: break-word;
}
.email{
    width: 425px;
    height: 70px;
    border-radius: 5px;
    background-color: #E5E5E5;
    border: none;
    position: relative;
    padding: 10px;
}
.subm{
    width: 100px;
    height: 70px;
    background-color: #DAD873;
    border-radius: 5px;
    border: none;
}
/* End Footer */